<mat-card cdkDrag>
  <h1>LINKS</h1>
  <a href="https://space.bilibili.com/178214" target="_blank">
    <img class="logo_button" src="assets/images/bilibili_logo.png">
  </a>
  <a href="https://www.youtube.com/channel/UCBrJ1HYaxZs9bCa2CiVijtA" target="_blank">
    <img class="logo_button" src="assets/images/youtube_logo.png">
  </a>
  <a href="https://www.weibo.com/602003123" target="_blank">
    <img class="logo_button" src="assets/images/weibo_logo.jpg">
  </a>
  <a href="https://steamcommunity.com/id/maoyalu/" target="_blank">
    <img class="logo_button" src="assets/images/steam_logo.jpg">
  </a>
</mat-card>

