<div class="container">
  <h2>** BASIC INFORMATION **</h2>

  <table>
    <tr>
      <th class="label">Name</th>
      <th class="content">Yalu</th>
    </tr>
    <tr>
      <th class="label">Birthday</th>
      <th class="content">2.2</th>
    </tr>
    <tr>
      <th class="label">Hobbies</th>
      <th class="content">Gaming</th>
    </tr>
    <tr>
      <th class="label">Location</th>
      <th class="content">Melbourne, Australia</th>
    </tr>
    <tr>
      <th class="label">Job</th>
      <th class="content">Software Engineer</th>
    </tr>
  </table>
  <br>
  <h2>** FOLLOW ME ON THESE PLATFORMS **</h2>
  <table>
    <tr>
      <th class="label">Bilibili</th>
      <th class="content"><a href="https://space.bilibili.com/178214" target="_blank">魔王YALU <mat-icon>live_tv</mat-icon></a></th>
    </tr>
    <tr>
      <th class="label">Youtube</th>
      <th class="content"><a href="https://www.youtube.com/channel/UCBrJ1HYaxZs9bCa2CiVijtA" target="_blank">Yalu Studio <mat-icon>live_tv</mat-icon></a></th>
    </tr>
    <tr>
      <th class="label">Weibo</th>
      <th class="content"><a href="https://www.weibo.com/602003123" target="_blank">@魔王YALU</a></th>
    </tr>
    <!-- <tr>
      <th class="label">GitHub</th>
      <th class="content">maoyalu</th>
    </tr> -->
    <tr>
      <th class="label">PSN</th>
      <th class="content">maoyalu</th>
    </tr>
    <tr>
      <th class="label">Steam</th>
      <th class="content">maoyalu</th>
    </tr>
    <tr>
      <th class="label">Nintendo</th>
      <th class="content">SW-6242-4306-3335</th>
    </tr>
  </table>
  <img id="figure" src="assets/images/figure.png" ondragstart="return false;">

</div>
