@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    text-align: center;
  }
}
.container {
  width: 100vw;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 300px;
}

#figure {
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 0;
  max-height: 70%;
  max-width: 48%;
  filter: drop-shadow(-2px -2px 2px black);
}

@keyframes figureHover {
  from {filter: drop-shadow(-2px -2px 2px black);}
  to {filter: drop-shadow(-5px 5px 10px black);}
}

#figure:hover {
  animation: figureHover;
  animation-duration: 2s;
  filter: drop-shadow(-5px 5px 10px black);
}

.label {
  font-weight: bold;
  text-align: left;
}

.content {
  font-weight: normal;
  text-align: left;
}

mat-icon {
  font-size: 16px;
}

a {
  color: white;
}

