h1 {
  text-align: center;
}

mat-card{
  width: 300px;
  margin: 20px;
  text-align: center;
  filter: drop-shadow(2px 2px 2px black);
}

#window {
  width: 290px;
  height: 163px;
  border: 1px solid black;
  margin: 0 auto;
}

#window img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.room_status_on {
  position: absolute;
  top: 75px;
  left: 30px;
  border: 3px solid red;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding: 2px;
  height: 18px;
  width: 50px;
  filter: drop-shadow(2px 2px 2px black);
}

.room_status_off {
  position: absolute;
  top: 75px;
  left: 30px;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding: 2px;
  height: 18px;
  width: 50px;
  filter: drop-shadow(2px 2px 2px black);
}

.close_button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close_button:hover {
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
