.container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 64px;
}

@media only screen and (max-width: 600px) {
  .container {
    top: 56px;
  }
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

mat-nav-list *{
  font-size: 14px;
}

#Home, #Home * {
  font-size: 18px;
}


#logo {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  align-self: center;
  height: 50vh;
  margin-top: -25vh;
  margin-left: -25vh;
}
