<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Yalu Studio</span>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer mode="over" opened="false">
    <mat-nav-list>
      <mat-list-item routerLink="/" routerLinkActive="active" id="Home"><mat-icon>dashboard</mat-icon>Dashboard</mat-list-item>
      <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            UI
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item routerLink="#">Buttons</a>
            <a mat-list-item routerLink="#">Cards</a>
        </mat-nav-list>
    </mat-expansion-panel>
      <mat-list-item routerLink="/general" routerLinkActive="active"><mat-icon>check_box</mat-icon>General</mat-list-item>
      <mat-list-item routerLink="/about"><mat-icon>person</mat-icon>Profile</mat-list-item>
      <mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Projects</mat-list-item>
      <mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</mat-list-item>
      <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
          <mat-expansion-panel-header>
              Preference
          </mat-expansion-panel-header>
          <mat-nav-list dense>
              <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
              <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
          </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
          <mat-expansion-panel-header>
              Privacy
          </mat-expansion-panel-header>
          <mat-nav-list dense>
              <a mat-list-item routerLink="#"><mat-icon>person_add</mat-icon>Partnership Request</a>
              <a mat-list-item routerLink="#"><mat-icon>visibility</mat-icon>Profile Visibility</a>
          </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <img id="logo" src="assets/images/logo.png" ondragstart="return false;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
